/* Sizes */
.btn-xs {
    @apply px-2.5;
    @apply py-1.5; 
    @apply text-xs;
    @apply leading-4;
    @apply rounded;
}

.btn-sm {
    @apply px-3;
    @apply leading-4;
}

.btn-lg {
    @apply text-base;
    @apply leading-6;
}

.btn-xl {
    @apply .btn-lg;
    @apply px-6;
    @apply py-3;
}