.avatar {
    @apply inline-block;
    @apply h-10;
    @apply w-10;
    @apply rounded-full;
}

.avatar-placeholder {
    @apply h-full;
    @apply w-full;
    @apply text-gray-300;
}

.avatar-xs {
    @apply h-6;
    @apply w-6;
}

.avatar-sm {
    @apply h-8;
    @apply w-8;
}

.avatar-lg {
    @apply h-12;
    @apply w-12;
}

.avatar-xl {
    @apply h-14;
    @apply w-14;
}